<div class="container-fluid">
    <div class="row justify-content-center">
        <mat-card class="col-12 col-md-6 col-sm-6 form-container">
            <div class=field-container>
                <mat-card-title>COVID-19</mat-card-title>
                <mat-card-subtitle>Fill all the details to continue</mat-card-subtitle>
            </div>
            <mat-horizontal-stepper>
                <mat-card-content>
                    <form [formGroup]="dataForm" (ngSubmit)="onFormSubmit()">
                        <mat-step>
                            <div formGroupName='info1'>
                                <mat-form-field class=field-container>
                                    <label>How many family members in your family?</label>
                                    <input matInput formControlName="noOfFamily" placeholder="">
                                    <mat-hint>enter the number</mat-hint>
                                </mat-form-field>
                                <div class=field-container>
                                    <label>Have you recently travelled overseas?</label>
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" formControlName="youForeign">
                                        <mat-radio-button class="example-radio-button" *ngFor="let ans of foreignGroups"
                                            [value]="ans.value">
                                            {{ans.viewValue}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class=field-container>
                                    <label>Family members recently travelled overseas?</label>
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group" formControlName="familyForeign">
                                        <mat-radio-button class="example-radio-button" *ngFor="let ans of foreignGroups"
                                            [value]="ans.value">
                                            {{ans.viewValue}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="button-container">
                                    <button class="btn btn-dark btn-sm" mat-button matStepperNext>Next</button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <div formGroupName='info2'>
                                <div>
                                    <label>Select your Gender</label>
                                    <mat-radio-group class="example-radio-group"
                                        aria-labelledby="example-radio-group-label" formControlName="gender">
                                        <mat-radio-button class="example-radio-button" *ngFor="let i of gender"
                                            [value]="i">
                                            {{ i }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <mat-form-field class=field-container>
                                    <mat-label>Select your age</mat-label>
                                    <mat-select formControlName="age">
                                        <mat-option *ngFor="let age of ageGroups" [value]="age.value">
                                            {{age.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-card-actions class="button-container">
                                    <button mat-button matStepperPrevious class="btn btn-dark btn-sm">Previous</button>
                                    <button class="btn btn-dark btn-sm" type="submit" (click)="onFormSubmit()"
                                        mat-raised-button>Continue</button>
                                </mat-card-actions>
                            </div>
                        </mat-step>
                    </form>
                </mat-card-content>
            </mat-horizontal-stepper>
        </mat-card>
    </div>
</div>