<div>
    <mat-grid-list gutterSize="5" cols="1" rowHeight="4:1">
        <mat-grid-tile *ngFor="let area of data.areas">
            <div matRipple class="card" (click)="handleClick(area)" style="flex: 1; height: 100%; cursor: pointer; ">
                <div class="row" style=" background: url(../../../../../assets/figure/white.jpg)">
                    <div class="col-4" style="text-align: center; padding-top: 2vmin;">
                        <img width="100%" [src]="data.diseases[area].iconUrl">
                    </div>
                    <div class="col-8">
                        <div class="row" style="padding-left:5%; padding-top: 15%;">
                            <h1 class="text-card"> {{ data.diseases[area].name }} </h1>
                        </div>

                    </div>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</div>
<div class="row ">
    <div class="col button-container py-2">
        <alert id="dialog-submit"></alert>
    <button type="Button" class="btn btn-primary btn-md w-75 rounded-pill" (click)="onSubmit()">Submit</button>
    </div>
</div>