<mat-grid-list gutterSize="5" cols="1" rowHeight="7:1">
  <mat-grid-tile rowspan="2" >
    <div class="row" style="text-align: center;">
      <div class="col">
        <img width="100%" [src]="data.disease.imageUrl">
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="margin-top: 5%;">
      <h2>How is your {{ data.disease.name }} symptoms?</h2>
    </div>
    
  </mat-grid-tile>
  <mat-grid-tile rowspan="4">
    <mat-chip-list class="mat-chip-list-stacked"
      aria-orientation="vertical">
        <mat-chip color="accent" selected="{{ isSelected(1) }}" (focus)="onFocus(1)">No symptoms</mat-chip>
        <mat-chip color="primary" selected="{{ isSelected(2) }}" (focus)="onFocus(2)">Mild symptoms</mat-chip>
        <mat-chip color="warn" selected="{{ isSelected(3) }}" (focus)="onFocus(3)">Severe symptoms</mat-chip>
        <div style="padding:3%"></div>
        <mat-chip  [mat-dialog-close]="data" disabled="{{ this.userNotResponded }}">Submit</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>
</mat-grid-list>