<mat-grid-list gutterSize="5" cols="1" rowHeight="7:1" >
  <mat-grid-tile rowspan="3">
    <div class="row" style="text-align: center;">
      <div class="col">
        <img width="100%" src="../../../assets/icon.jpg">
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    
  </mat-grid-tile>
  <mat-grid-tile >
    <button type="Button" class="btn btn-success btn-lg btn-block">Submit</button>
  </mat-grid-tile>
  <mat-grid-tile >
    <button type="Button" class="btn btn-warning btn-lg btn-block">Submit</button>
  </mat-grid-tile>
  <mat-grid-tile >
    <button type="Button" class="btn btn-danger btn-lg btn-block">Submit</button>
  </mat-grid-tile>
  <mat-grid-tile>
    
  </mat-grid-tile>
</mat-grid-list>
<div mat-dialog-actions>
  <button type="Button" class="btn btn-primary btn-lg mx-auto ">Submit</button>
</div>